apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-api
  template:
    metadata:
      labels:
        app: service-api
    spec:
      containers:
      - name: service-api
        image: alfr3d/service-api:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 5001
        envFrom:
        - configMapRef:
            name: alfr3d-k8s-env
        volumeMounts:
        - name: audio-storage
          mountPath: /tmp/audio
      volumes:
      - name: audio-storage
        emptyDir: {}
