apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-environment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-environment
  template:
    metadata:
      labels:
        app: service-environment
    spec:
      containers:
      - name: service-environment
        image: alfr3d/service-environment:latest
        env:
        - name: DATABASE_URL
          value: "mysql"
        - name: DATABASE_NAME
          value: "alfr3d_db"
        - name: DATABASE_USER
          value: "user"
        - name: DATABASE_PSWD
          value: "password"
        - name: KAFKA_URL
          value: "kafka:9092"