apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: zookeeper
spec:
  serviceName: zookeeper
  replicas: 1
  selector:
    matchLabels:
      app: zookeeper
  template:
    metadata:
      labels:
        app: zookeeper
    spec:
       containers:
       - name: zookeeper
         image: confluentinc/cp-zookeeper:7.4.0
         envFrom:
         - configMapRef:
             name: alfr3d-k8s-env
         env:
         - name: ZOOKEEPER_CLIENT_PORT
           value: "2181"
         - name: ZOOKEEPER_TICK_TIME
           value: "2000"
         ports:
         - containerPort: 2181