kafka-python-ng==2.2.3
schedule
python-dotenv
pymysql
cryptography
googlemaps
google-api-python-client
google-auth-oauthlib
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
pyasn1>=0.6.2 # not directly required, pinned by Snyk to avoid a vulnerability
